<template>
  <div id="app">
    <h1 style="text-align: center;">{{msg}}</h1>
    <p v-if="responseText" style="color: red;">{{responseText}}</p>
    <label>FirstName</label>
    <input type="text" v-model="userobject.firstname"/>
    <label>LastName</label>
    <input type="text" v-model="userobject.lastname"/>
    <button @click.prevent="Create()">Create</button>
    <button @click.prevent="Update()">Update</button>

    <table class="usertable">
      <tr>
        <th>slno</th>
        <th>firstname</th>
        <th>lastname</th>
        <th>actions</th>
      </tr>
      <tr v-for="(item,index) in userTable" :key="item + index">
        <td>{{index + 1}}</td>
        <td>{{item.firstname}}</td>
        <td>{{item.lastname}}</td>
        <td>
          <button @click.prevent="populateData(item)">Edit</button>
          <button @click.prevent="Delete(item)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import moment from 'moment'
import { mapActions } from 'vuex'
import { EventBus } from '../event.js'
import firebase from 'firebase/app'
import 'firebase/database'

export default {
  name: 'demo',
  data () {
    return {
      msg: 'firebase-demo',
      responseText: '',
      userTable: [],
      userobject: {
        firstname: '',
        lastname: ''
      },
      counter: 0,
      fbcount: 0,
      updateFlag: false
    }
  },
  created () {
    this.Read()
  },
  methods: {
    Create () {
      self = this
      if (this.userobject.firstname && this.userobject.lastname) {
        let database = firebase.database()
        database.ref('userlist/' + self.userobject.firstname).set(this.userobject)
        this.userobject.firstname = ''
        this.userobject.lastname = ''
      } else {
        this.responseText = 'Please Fill All The Fields'
        setTimeout(() => {
          this.responseText = null
        }, 2000)
      }
    },
    Read () {
      let self = this
      let database = firebase.database()
      database.ref('userlist').on('value', (data) => {
        if (data.val()) {
          self.userTable = []
          console.log(data.val())
          for (let key in data.val()) {
            self.userTable.push(data.val()[key])
          }
        } else {
          self.userTable = []
          console.log('Database is empty!!!!')
        }
      })
    },
    populateData (user) {
      let self = this
      this.updateFlag = true
      let database = firebase.database()
      database.ref('userlist/' + user.firstname).once('value').then((data) => {
        console.log(data.val())
        self.userobject.firstname = data.val().firstname
        self.userobject.lastname = data.val().lastname
      })
    },
    Update () {
      if (this.updateFlag === true) {
        let self = this
        let database = firebase.database()
        let data = {
          lastname: this.userobject.lastname
        }
        database.ref('userlist/' + self.userobject.firstname).update(data, (error) => {
          if (error) {
            console.log(error)
          } else {
            this.responseText = 'Updated Successfully'
            self.userobject.firstname = ''
            self.userobject.lastname = ''
            this.updateFlag = false
            setTimeout(() => {
              this.responseText = null
            }, 1000)
          }
        })
      }
    },
    Delete (user) {
      let database = firebase.database()
      database.ref('userlist/' + user.firstname).remove((error) => {
        if (error) {
          console.log(error)
        } else {
          console.log('deleted successfully')
        }
      })
    }
  }
}
</script>

<style>
.usertable{
  border: 1px solid black;
  margin: 10px;
}
</style>
