<template>
  <div>
    <demo></demo>
  </div>
</template>

<script>
import demo from './components/demo.vue'

export default {
  name: 'app',
  components: {
    demo
  }
}
</script>

<style>
</style>
